.vvmkd { 
  border-top-width: 69px;
  padding-left: 59px;
  border-bottom-width: 18px;
  border-left-width: 23px;
  padding-bottom: 40px;
  margin-top: 21px;
  padding-right: 18px;
  padding-right: 68px;
  border-bottom-width: 17px;
}
