.ocfgl { 
  padding-bottom: 76px;
  border-bottom-width: 19px;
  margin-right: 92px;
  margin-top: 22px;
  border-bottom-width: 60px;
  margin-bottom: 35px;
  margin-top: 50px;
  border-right-width: 13px;
}
